{% extends 'base.html' %}

{% block body %}
  <h1>Ubermelon's Most Loved Melons</h1>

  <img src="https://res.cloudinary.com/teepublic/image/private/s--Dm9Icgnb--/t_Resized%20Artwork/c_fit,g_north_west,h_954,w_954/co_484849,e_outline:48/co_484849,e_outline:inner_fill:48/co_ffffff,e_outline:48/co_ffffff,e_outline:inner_fill:48/co_bbbbbb,e_outline:3:1000/c_mpad,g_center,h_1260,w_1260/b_rgb:eeeeee/c_limit,f_jpg,h_630,q_90,w_630/v1488677498/production/designs/1291335_1.jpg" />

  <form action="/get-name">
    <div>
      <label for="namefield">What's your name?</label>
      <!-- required attribute makes pop up appear if nothing in field -->
      <input id="namefield" type="text" name="name" required />
    </div>
    <div>
      <input type="submit" />
    </div>
  </form>
{% endblock %}

